.notLogin {
    text-align: center;
    margin-top: 100px;
}

.titulo {
    font-size: 1.7em;
}

.texto {
    font-size: 1.4em;
    margin: 24px 30% 52px 30%;
}

.login {
    text-decoration: none;
    font-size: 1.8em;
    padding: 12px 24px;
    border-radius: 5px;
    color: var(--light-gray);
    border: none;
    background-color: var(--gray);
}

.login:hover{
    background-color: var(--light-gray);
    color: var(--gray);
}