.perfil{
    display: flex;
    align-items: start;
    padding: 16px 80px 16px 80px;
    background-image: linear-gradient(to right, var(--blue), var(--light-blue), var(--blue));
}

.perfil img {
    border: 10px solid var(--gray);
    border-radius: 5px;
    box-sizing: border-box;
}

.perfil p {
    margin: 12px 24px;
    font-size: 2em;
}

.jogos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.biblio{
    text-align: center;
    font-size: 1.8em;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to right, var(--blue), var(--gray), var(--blue)) 100% 1 0 0;
    padding: 12px 0px;
    margin: 0px;
}